<h1>Create a New Song</h1>

<form action="/songs" method="post">
  <label for="Name">Song Name:</label>
  <input id="Name" type="text" name="song[name]">

  <h3>Select an exisiting artist</h3>

  <% @artists.sort_by{|artist| artist.name.downcase}.each do |artist| %>
  <table>
    <tr>
  <input id="<%= artist.name %>" type="radio" name="song[artist_id]" value="<%= artist.id %>"></input>
  <label for="<%= artist.name %>"><%= artist.name %></label>

  </tr>
</table>

  <% end %>


  <h3>Create a new artist</h3>
  <label for="Artist Name">Artist Name:</label>
  <input id="Artist Name" type="text" name="artist[name]">

  <input id="Create" type="submit" name="Create">

</form>
