<h1>Create a New Song</h1>

<form action="/songs" method="post">
  <label for="song_name">Song Name:</label>
  <input id="song_name" type="text" name="song[name]">

  <h3>Select an exisiting artist</h3>


  <h3>Create a new artist</h3>
  <label for="artist_name">Artist Name:</label>
  <input id="artist_name" type="text" name="song[artist]">

  <input id="submit" type="submit" name="Submit">

</form>
