<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <style>
      .newspaper {
          -webkit-column-count: 3; /* Chrome, Safari, Opera */
          -moz-column-count: 3; /* Firefox */
          column-count: 3;
      }
    </style>
    </head>

  <body>
    <%= yield %>
  </body>
</html>
